* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.square {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}

.board {
    background-color: gray;
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    margin: 75px;
    padding: 25px;
    gap: 10px;
    border-radius: 16px;
}